<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">City</th>
      <th scope="col">Contry</th>
      <th scope="col">Peoples</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Colima</td>
      <td>México</td>
      <td>330.329</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Zamora</td>
      <td>México</td>
      <td>310.575</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Ciudad Obregón</td>
      <td>México</td>
      <td>328.430</td>
    </tr>
  </tbody>
</table>
